USE [master]
GO
/****** Object:  Database [CadIMoveis]    Script Date: 28/09/2022 17:51:45 ******/
CREATE DATABASE [CadIMoveis]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CadIMoveis', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CadIMoveis.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CadIMoveis_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CadIMoveis_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CadIMoveis].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CadIMoveis]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 28/09/2022 17:51:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NULL,
	[Cpf_CnpJ] [varchar](50) NULL,
	[Situacao] [varchar](50) NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Imoveis]    Script Date: 28/09/2022 17:51:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Imoveis](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdTipoImovel] [int] NULL,
	[ValorImovel] [decimal](18, 0) NULL,
	[Descricao] [varchar](300) NULL,
	[Cep] [varchar](50) NULL,
	[Logradouro] [varchar](50) NULL,
	[Complemento] [varchar](50) NULL,
	[Bairro] [varchar](50) NULL,
	[Localidade] [varchar](50) NULL,
	[Uf] [varchar](50) NULL,
	[IdCliente] [int] NULL,
	[Situacao] [varchar](50) NULL,
	[Cidade] [varchar](50) NULL,
 CONSTRAINT [PK_Imoveis] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoImovel]    Script Date: 28/09/2022 17:51:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoImovel](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NULL,
 CONSTRAINT [PK_TipoImovel] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Imoveis]  WITH CHECK ADD  CONSTRAINT [FK_IdCliente] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Cliente] ([Id])
GO
ALTER TABLE [dbo].[Imoveis] CHECK CONSTRAINT [FK_IdCliente]
GO
ALTER TABLE [dbo].[Imoveis]  WITH CHECK ADD  CONSTRAINT [FK_IdTipoImovel] FOREIGN KEY([IdTipoImovel])
REFERENCES [dbo].[TipoImovel] ([Id])
GO
ALTER TABLE [dbo].[Imoveis] CHECK CONSTRAINT [FK_IdTipoImovel]
GO
USE [master]
GO
